/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
/* fonts */
/* font-family: 'Comic Neue', cursive; */

#seaComp{
    border: .5px solid lightslategray;
    padding-top: 20px;
    width: 150px;
    height: 150px;
}
#seaComp:hover{
    border: .5px solid rgb(40, 124, 227);
    box-shadow: 0 3px 8px rgba(57, 63, 72, 0.3);
}
/* sea list */
#seaWrapper{
    background-color: #f8eebc;
    padding: 100px 0 50px 0;
}
#seaCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.seaTitle {
    font-family: 'Comic Neue', cursive;
    font-size: 40px;
    padding: 30px;
}
a {
    color: black;
    font-weight: bold;
}

/* name */
/* .seaCreature{
    color: #f8eebc;
}
.seaCreature:hover{
    color: black;
} */

#testWrap{
    /* border: solid royalblue; */
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: -20px;
}
